
 .splash-logo {
    
    margin: auto;
    background: url('/assets/icon/48823.png') repeat transparent;
    background-color: #fff;
    border-radius: 10px;
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
